.idea/
TP1_Motion_Estimation_Pour_etudiants_2024/.ipynb_checkpoints/
TP1_Motion_Estimation_Pour_etudiants_2024/.DS_Store
TP1_Motion_Estimation_Pour_etudiants_2024/*.mat
TP2_Motion_Estimation_Pour_etudiants_2024/.ipynb_checkpoints/
TP2_Motion_Estimation_Pour_etudiants_2024/.DS_Store
TP2_Motion_Estimation_Pour_etudiants_2024/*.mat
TP3_Kalman-Filtering/_MACOSX/
TP3_Kalman-Filtering/data/
TP3_Kalman-Filtering/licenses/
TP3_Kalman-Filtering/output/
TP3_Kalman-Filtering/__pycache__/
TP3_Kalman-Filtering/__MACOSX/